.Order {
  padding: 20px 0 40px 0;

  .title {
    color: white;
    text-align: center;
    width: 400px;
    margin: 0 auto;
  }

  .vanzel {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .elements {
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 50%;
      margin-top: 40px;

      .item_image {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .item_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .item_text_title {
          color: white;
        }

        .item_text_description {
          color: white;
          width: 200px;
          text-align: center;
          margin-top: 5px;
        }
      }
    }
  }
}
